

#myCarousel {
    min-height: 730px;
    background-color: white;
}

#grillCarousel {
    min-height: 720px;
    background-color: white;
}

#deliCarousel {
    min-height: 720px;
    background-color: white;
}

#saladCarousel {
    min-height: 710px;
    background-color: white;
}

.myBorder {
    border-radius: 10px;
}

.btn-circle-deli {
    background-color: #a6d841;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    font-size: 2em;
    color: white;
}

.btn-circle-breakfast {
    background-color: #ffd559;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    font-size: 2.3em;
    color: white;
}

.btn-circle-grill {
    background-color: #e8942e;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    font-size: 2.3em;
    color: white;
}

.btn-circle-salad {
    background-color: #4c8e45;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    font-size: 1.5em;
    color: white;
}

.salad-text-size {
    font-size: 2.3em;
}

