

@media print {

    @page {size: landscape}

    canvas {
        width: 100%!important;
        height: 100%!important;
    }


    [class*="col-md"], [class*="col-sm"], [class*="col-xs"] {
        float: none;
    }


    .page-break	{
        display: block;
        page-break-before: always;
    }
}


@media screen {
    div.divFooter {
        display: none;
    }
}