#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 16px;
    background-color: #6E352C;
    border-width: 1px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: #6E352C;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: #8A6E64;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(46, 158, 123, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #2e9e7b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #2e9e7b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #2e9e7b;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #288a6c;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #8A6E64;
    font-size: 15px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ecf0f1;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #000000;
    background-color: #F59A44;
}
#custom-bootstrap-menu.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #000000;
}
#custom-bootstrap-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #288a6c;
}