
.panel-default  {
    color: #000000 !important;
    border-color: #288a6c !important;
    page-break-inside:avoid;
    page-break-after:auto
}

.panel-default>.panel-heading {
    background-color: #288a6c;
    color:#FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #288a6c;
}

h2, h3 {
    font-size: 12px;
    color: #FFFFFF !important;
}


@media print {
    .page-break	{ display: none; }



    .panel-default  {
        color: #000000 !important;
        border-color: #288a6c !important;
        page-break-inside:avoid;
        page-break-after:auto
    }

    .panel-default>.panel-heading {
        background-color: #288a6c;
        color:#FFFFFF;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 4px 4px 0px 0px;
        border-bottom: 1px solid #0074BD;
    }

    div.divFooter {
        position: fixed;
        bottom: 0;
    }

    body
    {

    }
    .chartprint{
        max-height: 150px;
        max-width: 900px;
    }


}

@media screen {
    div.divFooter {
        display: none;
    }
}

.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}